$pureWhite: #fff;
$pureBlack: #000;
$prettyGray: #444444;
$lightGray: #BFC1C2;
$solidBlue: #00009C;
$solidGreen: #009000;
$pastelGreen: #77DD77;
$solidRed: #CC0000;
$pastelRed: #FF6961;

$mobile-width: 480px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
